
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    
    <title>What is this movie</title>
</head>

<body> 
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <ul class="vertical menu accueil">
            <li><a href="../home"><i class="fas fa-home"></i> Accueil</a></li>
        </ul>
        <h2>Movie list</h2>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- Menu -->
        <ul class="vertical menu">
            {%for movie in movies %}
            <li><a href="../detail/{{ movie['id'] }}"> ↳ {{ movie['title'] }}</a></li>
            {%endfor%}
        </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
        <button class="button secondary" type="button" data-open="offCanvas">
            <span class="show-for-sr">Open List</span>
            <span aria-hidden="true">Open List <i class="fas fa-clipboard-list"></i></span>
        </button>
        <div class="media-object stack-for-small" id="page-container">
            <div class="media-object-section">
                <img class="other-page" src="../img/{{ movie['title'] }}.jpg">
            </div>
            <div class="media-object-section">
                <h2>{{ movie['title'] }} </h2>

                <iframe width="560" height="315" src="{{ movie['trailer']}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <div class="info">
                    <p>{{ movie['year'] }}</p>
                    
                    <blockquote>" {{ movie['description']}} "</blockquote>
                    <h4>Réalisateur</h4>
                    {% for director in director %}
                    <p>{{ director['last_name']}} {{ director['first_name']}}</p>
                    {%endfor%}
                    <h4>Acteurs</h4>
                    
                    {% for actor in actor %}
                    <ul>
                        <li>{{ actor['first_name']}} {{ actor['last_name']}}</li>
                    </ul>
                    {% endfor %}
                    
                    <h4>Genres</h4>
                    {% for gender in gender %}
                    <p>{{ gender['gender'] }}</p>
                    {% endfor %}

                    <h4>Durée du film</h4>
                    <p>{{ api['Runtime'] }}</p>
                    <h4>Note du publique</h4>
                    <p>{{ api['Ratings']['0']['Value'] }}</p>
                    <h4>Pays d'origine</h4>
                    <p>{{ api['Country'] }}</p>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
    <script src="../css/script.js"></script>
</body>
</html>