body{
	background: #272727;
}

h2{
	text-align: center;
	font-family: Arial;
	font-size: 1.5em;
}

.card{
	width: 90%;
	background-color: #ffffff;
	padding: 15px;
	margin-left: 4%;
}

.container{
	display: flex;
	height: 30em;
	justify-content:space-around;
	margin: 30px;
}

.card-section{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}


.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 15px;
  height: 50px;
  left: 50%;
  width: 250px;
  &:focus {
    outline: none;    
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;

  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 250px;
  justify-content:space-around;
}

.bottom{
	text-align: center;
}